.Footer.light {
    background-color: #272729;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
}

.Footer.dark {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;
}


.footer-logo {
    height: 100px;
}

.footer-text {
    color: white;
    margin-top: 0;
    line-height: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.share-logos {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}